.itembox{
    display: flex;
    align-items: center;
    justify-content: center;
  
}

 	
.itemimg {
    width: 30vw;
    height: 30vw;
    object-fit: cover;
    margin: 0% 10%;
    gap: 7vw;
  }

.itemtitle{
    color: #85A44B;
    font-size: 40px;
    padding: 10px;
}

        
